h1{
    font-family: 'Teko', sans-serif;
    color: white;
}

p, ol{
    font-family: 'Ubuntu', sans-serif;
    color: white;
}

body{

    background: black;

}
main{
  background: rgb(0, 0, 0);
  
/*  make 2 columns  */
  display: grid;
  grid-template-columns: repeat(2, 1fr);

}
article{
    background: rgb(0, 0, 0);
    padding: 2em;
  /*  verticle center and horizontal center  */
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

aside img{
  
    /*  fit image to container  */
      display: block;
      max-width: 100%;
      /*  full height img  */
      height: 100vh;
      object-fit: cover;
      
    }